@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./ui/Styles/Animations.css";
@import "./ui/Styles/MediaQuerys.css";
:root {
  --primary-100: #d9a741;
  --primary-200: #b98b23;
  --primary-300: #714d00;
  --accent-100: #b87333;
  --accent-200: #ffffbf;
  --text-100: #0e0e0e;
  --text-200: #353535;
  --bg-100: #f5f5f5;
  --bg-200: #ebebeb;
  --bg-300: #c2c2c2;
  --button-bg-primary: #8b0000; /* Rojo oscuro/vinotinto para el botón principal */
  --button-bg-primary-hover: #5d0a00; /* Más oscuro para hover */
  --button-text-primary: #ffffbf; /* Texto en tono claro para contrastar */

  --button-bg-secondary: #b22222; /* Rojo fuego para botón secundario */
  --button-bg-secondary-hover: #a52a2a; /* Vino para hover del botón secundario */
  --button-text-secondary: #f5f5f5; /* Texto claro en el botón secundario */

  --border-radius-button: 8px; /* Bordes redondeados */
  --button-padding: 12px 24px; /* Tamaño de los botones */
  --button-font-weight: bold; /* Negrita para destacar texto */

  --header-height: 70px;
  --hero-height: calc(100dvh - var(--header-height));
  --navbar-width-md: 370px;
  --navbar-width-lg: 400px;

  --font-size-small: 15px;
  --font-size-medium: 25px;
  --font-size-large: 45px;
}

body {
  color: var(--text-100);
  background: var(--bg-100);
  font-family: Arial, Helvetica, sans-serif;
}

.transition-fast {
  transition: all 0.3s ease-in-out;
}

.no-scroll {
  overflow: hidden;
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
}

.hero-section-background {
  background-image: radial-gradient(var(--primary-300) 1px, transparent 1px),
    radial-gradient(var(--primary-300) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  background-color: var(--bg-100);
}
