.modal-title {
        font-family: "Courgette", cursive;
}

.show-letter {
        animation-name: show-letter;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
}

.image-scale {
        animation-name: image-scale;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
}

.delay-1s {
        animation-delay: 0.1s;
}
.delay-2s {
        animation-delay: 0.2s;
}
.delay-3s {
        animation-delay: 0.3s;
}
.delay-4s {
        animation-delay: 0.4s;
}
.delay-5s {
        animation-delay: 0.5s;
}
.delay-6s {
        animation-delay: 0.6s;
}
.delay-7s {
        animation-delay: 0.7s;
}
.delay-8s {
        animation-delay: 0.9s;
}
.delay-9s {
        animation-delay: 0.9s;
}

.focus-in-expand-fwd {
        -webkit-animation: focus-in-expand-fwd 2s infinite both;
        animation: focus-in-expand-fwd 2s infinite both;
}

@keyframes show-letter {
        0% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}

@keyframes image-scale {
        0% {
                transform: scale(0);
                opacity: 0;
        }
        100% {
                transform: scale(1);
                opacity: 1;
        }
}

@-webkit-keyframes show-letter {
        0% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}

@-webkit-keyframes image-scale {
        0% {
                -webkit-transform: scale(0);
                opacity: 0;
        }
        100% {
                -webkit-transform: scale(1);
                opacity: 1;
        }
}
      